<phpunit>
    <!-- ... другие настройки ... -->
    <coverage>
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <report>
            <clover outputFile="clover.xml"/>
        </report>
        <logging>
            <log type="coverage-clover" target="clover.xml"/>
        </logging>
    </coverage>
</phpunit>